.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}
.project-card{
    background: transparent;
    padding: 1.2rem 1rem;
}
.project-card img{
    width:80%;
}
.project-title{
    color: beige;
    padding: 1rem 0;
}
.pro-details{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: match-parent;
}
.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items:baseline ;
}
.pro-btns .btn{
    padding: 0.5rem;
    margin: auto;
}
@media screen and(max-width:500px) {
    .project-container{
        max-width: 80%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    .pro-details{
        overflow: auto;
    }
}
