.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card {
    background: transparent;
    padding: 1.2rem 1rem;
}

.project-card img {
    width: 80%;
}

.project-title {
    color: beige;
    padding: 1rem 0;
}

.pro-details {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: left; /* Align text consistently */
}

.pro-btns {
    display: flex;
    flex-wrap: wrap; /* Allows buttons to wrap to the next line if necessary */
    justify-content: flex-start; /* Aligns buttons to the start of the container */
    gap: 10px; /* Adds space between buttons */
    padding: 0.5rem 0;
}

.pro-btns .btn {
    padding: 0.5rem;
    margin: 0; /* Remove any margin to keep buttons aligned */
}

@media screen and (max-width: 500px) {
    .project-container {
        max-width: 80%;
        grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }

    .pro-details {
        overflow: auto; /* Handle overflow on smaller screens */
    }

    .project-card img {
        width: 100%; /* Adjust image size to fit smaller screens */
    }
}
